.dialog {
  position: relative; /*Importante para la posición del botón cerrar*/
  padding: 36px;
  max-width: 430px;
  height: 330px;
  border-radius: 10px;
  border: none;
}

.dialog__close-button {
  padding: 0;
  max-width: 40px;
  max-height: 40px;
  font-size: 40px;
  position: absolute; /* Posicionarlo de forma absoluta */
  top: -40px;
  right: -40px;
  border: none; /* Eliminar borde */
  color: #ac2121; /* Color de la "X" */
  cursor: pointer; /* Cambiar el cursor a un puntero */
}

.dialog__title {
  margin: 0 0 54px 0;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}

.dialog__name {
  padding: 0;
  font-size: 28px;
  display: block;
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 1px #c4c4c4;
}

.dialog__about {
  padding: 0;
  font-size: 28px;
  display: block;
  margin-bottom: 48px;
  border: none;
  border-bottom: solid 1px #c4c4c4;
}

.dialog__submit-button {
  width: 100%;
  height: 50px;
  box-shadow: 0px 0px 25px 0px #00000026;
}

.dialog::backdrop {
  background-color: rgba(1, 1, 1, 0.55);
}
