.form {
  position: relative; /*Importante para la posición del botón cerrar*/
  border-radius: 10px;
  max-width: 430px;
  background-color: #fff;
  padding: 36px;
  box-sizing: border-box;
  color: black;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.149);
}

.form__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2; /* ??? */
  margin: 0 0 54px 0;
}

.form__input {
  /* font-family: inherit; ??????????*/
  padding: 6px 0 13px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
.form__name {
  margin-bottom: 30px;
}

.form__about {
  margin-bottom: 48px;
}

.form__submit-button {
  width: 100%;
  background: black;
  color: white;
  padding: 14px 0;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.5s;
}

.form__input:focus {
  outline-color: rgb(25, 173, 210);
  outline-width: 3px;
  outline-style: solid;
}

.form__submit-button:hover {
  opacity: 50%;
}

.form__submit-button:active {
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 282px;
    padding: 25px 22px;
  }

  .form__title {
    font-size: 18px;
    margin: 0 0 76px 0;
  }

  .form__submit-button {
    font-size: 14px;
  }
}
