.header {
  max-width: 880px;
  margin: auto;
  border-bottom: 1px solid #545454;
  max-height: 74px;
  color: white;
  display: flex;
}

.header__title {
  margin: 0 5px 41px 0;
  font-size: 33px;
  font-weight: 400;
}

.header__subtitle {
  margin: 0;
}
