.profile {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px;
}

.profile__picture {
  margin-right: 30px;
  max-width: 120px;
  max-height: 120px;
}

.profile-info {
  margin: auto auto auto 0;
}

.profile-info__name {
  font-size: 42px;
  margin: 0 18px 0 0;
  display: inline;
}

.profile-info__edit-button {
  width: 24px;
  height: 24px;
  background: center no-repeat url("../images/edit_button.png");
  border: 2px solid white;
}

.profile-info__about {
  font-size: 18px;
  margin: 10px 0 0 0;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin: auto 0px;
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 22px;
  border-radius: 2px;
}

.profile__add-button:hover {
  transform: scale(1.1);
}

.profile-info__edit-button:hover {
  opacity: 50%;
  cursor: pointer;
}
